* {
  padding: 0;
  margin: 0;
}

.box{
  width: 100%;
  height: 100%;
}




/* 一、transition-property: */

/* 二、transition-duration: */

/* 三、transition-timing-function: */


/* 四、transition-delay: */

 /* transition一个速记法：transition: <property> <duration> <animation type> <delay> */
.box1{
  margin: 50px;
  width:100px;
  height: 100px;
  background: red;
  transition: all 5s ease-in 3s;
  
}
.box1:hover {width:300px;background:green;transform: skew(30deg);}


#timings-demo 
{ 
  border: 1px solid #ccc; 
  padding: 10px; 
  height: 400px; 
  width: 400px; 
} 
.demo-box { width: 100px; 
  height: 50px; 
  text-align: center; 
  line-height: 50px;
  text-align: center; 
  color: #fff; 
  background: #96c; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  -moz-box-shadow: inset 0 0 5px rgba(102, 153, 0,0.5);
  -webkit-box-shadow: inset 0 0 5px rgba(102, 153, 0,0.5); 
  box-shadow: inset 0 0 5px rgba(102, 153, 0,0.5); margin-bottom: 10px;
} 

#ease { 
  -moz-transition: all 5s ease 0.3s; 
  -webkit-transition: all 5s ease 0.3s; 
  -o-transition: all 5s ease 0.3s; 
  transition: all 5s ease 0.3s; background: #f36;
}




